<h1>My tasks</h1>

<div class="container" style="display: inline-block">
    <ul>
      <% @tasks.each do |task| %>
        <div class="row">
          <div>
              <p><input type="checkbox"><%= link_to ' ' + task.title, "/tasks/#{task.id}", target: :_blank %>
              <%= link_to " Delete task",
                task_delete_path(task),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
              </p>
          </div>
        </div>
      <% end %>
    </ul>
    <%= link_to 'Add a new task', '/tasks/new' %>
</div>
